<!DOCTYPE html>
<html>
<body>

<h2>Fake News Detector</h2>
<form id="form_pred" class="contact100-form validate-form" method="post" action="/api">
 <div class="container">
   <label for="title"><b>Title</b></label>
   <input type="text" placeholder="Enter Title" name="title" required>

   <label for="author"><b>Author</b></label>
   <input type="text" placeholder="Enter Author" name="author" required>

   <label for="maintext"><b>Text</b></label>
   <input type="text" placeholder="Enter Whole Text" name="maintext" required>

   <button type="submit">Predict</button>
 </div>

</form>

</body>
</html>
